.body {
    background-color: #8b0808;
    margin:0;
 }
 
 .patterns {
   height: 100vh;
 }
 
 
 
 svg text {
   font-family: Snell Roundhand, Cursive;
   letter-spacing: 10px;
   stroke: #FFFF00;
   font-size: 50px;
   font-weight: 500;
   stroke-width: 3;
  
   animation: textAnimate 5s infinite alternate;
   
 }
 
 @keyframes textAnimate {
   0% {
     stroke-dasharray: 0 50%;
     stroke-dashoffset:  20%;
     fill:hsl(318, 89%, 24%)
 
   }
   
   100% {
     stroke-dasharray: 50% 0;
     stroke-dashoffstet: -20%;
     fill: rgba(214, 250, 11, 0.938)
   }
   
 }
 
 
 
