body {
	background-image: url('web\ coding.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;}
  
 
  

      
.header {
    padding: 30px;
    text-align: center;
    background: rgb(236, 194, 3);
  }

  h2{
    color:white;
    text-align:center;
    font-size:2em;
  }


  .header h1 {
    font-size: 50px;
    color: aliceblue;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: rgb(102, 4, 86);
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(105, 2, 83);
  }
  

.warpper{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.tab{
  cursor: pointer;
  padding:10px 20px;
  margin:0px 2px;
  background:rgb(122, 1, 92);
  display:inline-block;
  color:#fff;
  border-radius:3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #eeeaea80;
}
.panels{
  background:#8d0c66f6;
  box-shadow: 0 2rem 2rem #f5f1f180;
  min-height:300px;
  width:200%;
  max-width:800px;
  border-radius:3px;
  overflow:hidden;
  padding:20px;  
   
}
.panel{
  display:none;
  animation: fadein .8s;
}

 

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
  font-size:1.5em;
  font-weight:bold
}
.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab{
  background:#fffffff6;
  color:#000;
  border-top: 3px solid #000;
}

 



 