body {
    background-color: #8a0963;
  }

.header {
    padding: 20px;
    text-align: right;
    background: rgb(233, 11, 11);
  }
.h1{color:rgb(202, 16, 16)
}

.header:hover {
  background-color: blue;
}


 
  #leftbox {
    float:left; 
    background:Red;
    width:25%;
    height:280px;
    text-align: center;
}
    
#leftbox:hover{
    background-color: blueviolet;
    cursor: help;
}
 
#middlebox{
    float:left; 
    background:Green;
    width:50%;
    height:280px;
    text-align: center;
    font-weight: bolder;
}
 

#middlebox:hover{
    background-color: aqua;
    cursor: help;
}
#rightbox{
    float:right;
    background:blue;
    width:25%;
    height:280px;
    text-align: center;
    
} 